#mainMenu {
    -fx-background-color: rgb(38, 38, 38);
}

.main-title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.menu-button {
    -fx-background-color: rgb(38, 38, 38);
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-font-size: 20px;
    -fx-min-width: 75px;
    -fx-pref-width: 100px;
    -fx-max-width: 125px;
}
